@media only screen and (min-width: 750px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    #left {
        float: left;
    }

    #right {
        float: left;
        width: 25%;
        margin-left: 1%;
    }

    #ownVideoElement {

        z-index: 1;

        margin-bottom: 5%;

    }

    #convertCanvas {
        visibility: hidden;
        position: fixed;
        z-index: 1000;
        overflow: hidden;
    }



    #ocr_status_p {
        width: auto;

    }

}
    @media only screen and (max-width: 750px) {
        #right {
            width: 100%;
        }

        #ownVideoElement {
            width: 100%;
        }

        #convertCanvas {
            visibility: hidden;

            z-index: 1000;
            overflow: hidden;
        }

        #ocr_result_p {
            width: 100%;
            overflow: scroll;

        }

        #ocr_status_p {
            padding: 2px;
            width: 100%;
            position: static;
        }
    }