body {
    background-color: rgb(255, 255, 255);

}

#add {
    background-color: greenyellow;
}

#stop {

    background-color: red;
}

#container {
    
    border: 10px #333 solid;
}

#ownVideoElement {
    width: 90%;
    height: 48%;
    background-color: #666;
    margin-right: 1%;
    margin-bottom: 5%;
}